{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <center>
    <meta charset="UTF-8">
    <title>jwcnpj</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
</head>
<>
<h1>index</h1>

<img width="10%" src="{% static 'images/rds.png' %}" />

<h2>{{ curso }}</h2>
<h2>{{ outro }}</h2>
<!--<span>{{ logado }}</span>-->
<table>
    <thead>
    <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Estoque</th>
    </tr>
    </thead>
    <tbody>
        {% for produto in produtosview %}
            <tr>
                <td><a href="{% url 'produto' produto.id %}"> {{ produto.nome }}</a></td>
                # url rota produto aqui é o name

                <td>{{ produto.preco }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="teste();">Clique aqui</button>
    </center>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>